@using Feane.ViewModels.Dish
@model List<DishGetVM>

<div class="container">
    <div class="row">
        <div class="col-2">
            <a class="btn btn-success" asp-action="Create">Create</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var dish in Model)
                {
                    <tr>
                        <th scope="row">@dish.Id</th>
                        <td>@dish.Name</td>
                        <td><img src="~/images/@dish.ImageName" /></td>
                        <td>@dish.Description</td>
                        <td>@dish.DishPrice</td>

                        <td>
                            <a asp-action="Update" asp-route-id="@dish.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-route-id="@dish.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>